name: Docker Autobuild

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths-ignore:
      - "**.md"

jobs:
  docker:
    name: Docker Autobuild
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk:
          - image: "eclipse-temurin:8"
            tag: temurin-8
          - image: "eclipse-temurin:11"
            tag: temurin-11
          - image: "eclipse-temurin:16"
            tag: temurin-16
          - image: "eclipse-temurin:17"
            tag: temurin-17
          - image: "eclipse-temurin:22"
            tag: temurin-22
          - image: "eclipse-temurin:23"
            tag: temurin-23
          - image: "eclipse-temurin:24"
            tag: temurin-24
          - image: "eclipse-temurin:25"
            tag: temurin-25
          - image: "azul/zulu-openjdk-debian:17-latest"
            tag: zulu-17
          - image: "azul/zulu-openjdk-debian:21-latest"
            tag: zulu-21
          - image: "azul/zulu-openjdk-debian:22-latest"
            tag: zulu-22
          - image: "azul/zulu-openjdk-debian:23-latest"
            tag: zulu-23
          - image: "azul/zulu-openjdk-debian:24-latest"
            tag: zulu-24
          - image: "azul/zulu-openjdk-debian:25-latest"
            tag: zulu-25
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Log in to ghcr
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Lowercase repo name
        run: echo "REPO=${GITHUB_REPOSITORY,,}" >> ${GITHUB_ENV}
      - name: Build & Push
        uses: docker/build-push-action@v2
        with:
          context: ./
          push: true
          no-cache: true
          build-args: |-
            JDK_BASE_IMAGE=${{ matrix.jdk.image }}
          tags: |-
            ghcr.io/${{ env.REPO }}:${{ matrix.jdk.tag }}
